//background
$color-bg-main-light: #f9f4ef;
$color-bg-main-dark: #000; 
$color-bg-secondary: #fffffe;
$color-bg-tertiary: #8c7851;
//Typography
$color-headline: #000;
$color-paragraph:  #716040;
//button
$color-button: #8c7851;
$color-button-text: #fffffe;
//Color
$color-main: #fffffe;
$color-secondary: #eaddcf;
$color-tertiary: #f25042;
//Card
$color-bg-card: #eaddcf; 