@import 'colors';
@import 'typography';

body {
    .light-mode {
        background-color: $color-bg-main-light;
    }
    .dark-mode {
        background-color: $color-bg-main-dark;

    }
}

//Home
.code-main {
    .code-main__content {
        height: auto;
    }
    .code-main__hero {
        margin: 10% 5%;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: flex-end;
        .code-main__hero-img {
            svg {
                width: 700px;
                height: auto;
            }
        }
        .code-main__hero-title {
            width: 50%;
            h1 {
                color: $color-headline;
                font-size: $headline;
                font-weight: bold;
            }
        }
        .code-main__hero-text {
            width: 90%;
            p {
                color: $color-paragraph;
                font-size: $paragraph;
            }
        }
        .code-main__hero-cta {
            margin: 2% 0;
            a {
                color: $color-button-text;
                font-family: $font-default;
                font-weight: normal;
            }
        }
        
        @media screen and (max-width: 640px) {
            .code-main__hero {
                margin: 20% 5%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                .code-main__hero-title {
                    width: 100%;
                    h1 {
                        font-size: $headline;
                    }
                }
                .code-main__hero-text {
                    width: 100%;
                    p {
                        font-size: $paragraph;
                    }
                }
            }
            
        }
    }
    .code-main__categories{
        background-color: $color-bg-secondary;
        height: 100%;
        padding: 0 0 15% 0;
        .code-main__categories-cta {
            margin: 5% 0;
            display: flex;
            justify-content: center;
            a {
                color: $color-button-text;
                font-family: $font-default;
                font-weight: normal;
            }
        }
        .code-main__categories-headline {
            padding: 10rem 0;
            display: flex;
            justify-content:flex-end;
            flex-direction: column;
            text-align: center; 

            h2 {
                font-size: $headline;
                font-weight: bold;
                font-family: $font-default;
                color: $color-headline
            }
            p {
                font-size: $paragraph;
                font-weight: normal;
                font-family: $font-default;
                color: $color-paragraph;
            }
        }
        .code-main__categories-content {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            width: 70%;
            margin: 0 auto;

            .code-main__card {
                width: 500px;
                height: 200px;
                border-radius: 5px;
                padding: 30px;
                background-color: $color-bg-card;
                margin: 20px;
                transition: all .2s ease;

                h3 { 
                    font-family: $font-default;
                    font-size: $branding;
                    font-weight: bold;
                    color: $color-headline;
                    margin: 0 0 1rem 0;
                }   
                p {
                    font-family: $font-default;
                    font-size: $sub-paragraph;
                    font-weight: normal;
                    color: $color-paragraph;
                }

            }
            .code-main__card:hover {
                transform: scale(1.05);
                transform: rotate(-2deg);

            }
            
        }
        @media screen and (max-width: 640px) {
            .code-main__categories-headline {
                padding: 7rem 5%;
                display: flex;
                justify-content:flex-end;
                flex-direction: column;
                text-align: center; 
    
                h2 {
                    font-size: $headline;
                    font-weight: bold;
                    font-family: $font-default;
                    color: $color-headline
                }
                p {
                    font-size: $paragraph;
                    font-weight: normal;
                    font-family: $font-default;
                    color: $color-paragraph;
                }
            }
            .code-main__categories-content {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                flex-wrap: wrap;
                width: 100%;
                margin: 0 auto;
    
                .code-main__card {
                    width: 500px;
                    height: 200px;
                    border-radius: 5px;
                    padding: 30px;
                    background-color: $color-bg-card;
                    margin: 1rem;
    
                }
                
            } 
        }
        
        
    }
    .code-main__weather {
        background-color: $color-bg-main-light;
        height: 100%;
        padding: 0 0 5% 0;
        .code-main__weather-content {
            margin: 5% 0;
            display: flex;
            justify-content: center;
            flex-direction: column;
            .code-main__weather-img {
                margin: 0 auto;
                svg {
                    width: 200px;
                    height: auto;
                }
            }
            .code-main__weather-text {
                text-align: center;
                margin: 5% 0;
                .code-main__weather-form{ 
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    text-align: center;
                    input {
                        width: 400px;
                        padding: 20px 20px;
                        color: $color-headline;
                        font-family: $font-default;
                        font-weight: bold;
                        border: none;
                        text-align: center;
                        margin: 20px auto;
                    }
                }
                .code-main__weather-response {
                    p {
                        color: $color-headline;
                        font-family: $font-default;
                        font-weight: bold;
                    }
                    .code-weather__location-content {
                        margin: 10px 0;
                    }   
                    .code-weather__temperature-content {
                        margin: 10px 0;
                    }
                }
            }
            button {
                color: $color-button-text;
                font-family: $font-default;
                font-weight: normal;
            }
        }
    }
}
.code-404 {
    height: 100%;
    width: 100%;
    .code-404__content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        p {
            font-family: $font-default;
            font-size: $paragraph;
            font-weight: normal;
            color: $color-paragraph;
        }
    }
    .code-404__content-img {
        margin: 5% auto;
        svg {
            margin: 0 auto;
            width: 1000px;
            height: auto;
        }
    }
    .code-404__content-cta {
        margin: 10% 0;
        a {
            color: $color-button-text;
            font-family: $font-default;
            font-weight: normal;
        }
    }
}
.code-quiz {
    width: 100%;
    height: 100%;
    .code-quiz__content {

        .code-quiz__content-text {
            text-align: center;
            margin: 5% 0;
            h1 {
                font-family: $font-default;
                font-size: $headline;
                font-weight: bold;
                color: $color-headline;
            }
            p {
                font-family: $font-default;
                font-size: $paragraph;
                font-weight: normal;
                color: $color-paragraph;
            }
        }
        .code-quiz__content-selector {
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;
            padding: 0 20%;
            button {
                border: none;
                background-color: inherit;
            }
            a {
                text-decoration: none;
                font-family: $font-default;
                font-size: $navigation;
                font-weight: normal;
                color: $color-headline;
                .code-quiz__button {
                    border: 3px solid black;
                    border-radius: 5px;
                    padding: 10px 50px;
                    margin: 20px;
                    text-align: center;
                    justify-content: center;
                    align-items: center; 
                    transition: all .2s ease;
                }
                .code-quiz__button:hover {
                    transform: scale(1.1);
                }
                .active {
                    background-color: $color-button;
                    color: $color-button-text;
                }
            }
            .code-quiz__form {
                form {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    text-align: center;
                }
                select {
                    width: 400px;
                    background-color: inherit;
                    border: none;
                    padding: 40px 20px;
                    color: $color-headline;
                    font-family: $font-default;
                    font-weight: bold;
                    border: none;
                    text-align: center;
                    margin: 20px auto;
                    height: 30px;
                }
                button {
                    background-color: $color-button;
                    color: $color-button-text;
                    font-family: $font-default;
                    font-weight: normal;
                    padding: 20px 30px;
                    border-radius: 5px;
                    margin: 10px 0;
                    width: 400px;
                }
            }
            
        }
        .code-quiz__bloc {
            margin: 10% 0;
            display: flex;
            justify-content: center;
            .code-quiz__bloc-card {
                padding: 0 5% 5% 5%;
                background-color: $color-bg-card;
                height: auto;
                border-radius: 10px;
                width: 800px;
                text-align: center;
                h2 {
                    margin: 5rem 0 0 0;
                    font-family: $font-default;
                    font-size: $branding;
                }
                span {
                    text-transform: uppercase;
                }
                .code-quiz__question-count {
                    width: 100%;
                    padding: 5% 0;
                    display: flex;
                    justify-content: flex-start;
                    p{
                        font-family: $font-default;
                        font-size: $paragraph;
                        font-weight: bold;
                        color: $color-headline;
                    }
                }
                .code-quiz__question {
                    width: 100%;
                    padding: 2% 0;
                    display: flex;
                    justify-content: flex-start;
                    p{
                        font-family: $font-default;
                        font-size: $paragraph;
                        font-weight: normal;
                        color: $color-paragraph;
                    }
                }
                .code-quiz__answer {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    button {
                        padding: 30px 30px;
                        margin: 20px 0;
                        background-color: $color-bg-main-light;
                        border-radius: 5px;
                        border: none;
                        transition: all .2s ease;
                        font-family: $font-default;
                        font-size: $paragraph;
                        font-weight: bold;
                        color: $color-paragraph;
                    }
                    button:hover {
                        transform: rotate(-2deg);
                    }
                }
                .code-quiz__score {
                    text-align: center;
                    margin: 2% 0 0 0;
                    p {
                        font-family: $font-default;
                        font-size: $paragraph;
                        font-weight: normal;
                        color: $color-paragraph;
                    }
                }

            }
        }
        
    }
}
